:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}
body::-webkit-scrollbar-track {
  background: white;
}
body::-webkit-scrollbar-thumb {
  background: #f1c40f;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}



main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  z-index:200;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  align-items: center;
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;

  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
      width: 16rem;
    }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

.review_img{
   width: 100vw;
   height: 950px;
}

.autoplay.slick-prev, .autoplay .slick-next{
width:40px;
height:40px;
}
.autoplay .slick-prev,.autoplay .slick-prev:focus {
background: url(/data/cms/images/1589250198_previous.png) no-repeat 0px 0px !important;
background-size: 30px !important;
left: 5%;
z-index: 9;
transform:translateY(-50%);
top: 50%;
width: 30px;
height: 30px;
}
.autoplay .slick-prev:hover,.autoplay .slick-prev:active {
background: url(/data/cms/images/1589250198_previous.png) no-repeat 0px -48px !important;
background-size: 30px !important;
}
.autoplay .slick-next, .autoplay.slick-next:focus {
background: url(/data/cms/images/1589250219_next.png) no-repeat 0px 0px !important;
background-size: 30px !important;
right: 5%;
z-index: 9;
transform: translateY(-50%);
top: 50%;
width: 30px;
height: 30px;
}
.autoplay .slick-next:hover, .autoplay .slick-next:active {
background:url(/data/cms/images/1589250219_next.png) no-repeat right 0px top -48px !important;
background-size: 30px !important;
}

section{
height:100vh;
}

h1{
font-size: 20px;
margin-left: 520px;
}

.bubble{
opacity:0;
transition:1s;
}

.bubble.show{
opacity:1;
transition:1s;
}

.bubble1{
opacity:0;
transition:1s;
}

.bubble1.show{
opacity:1;
transition:1s;
}

.bubble2{
opacity:0;
transition:1s;
}

.bubble2.show{
opacity:1;
transition:1s;
}

.bubble3{
opacity:0;
transition:1s;
}

.bubble3.show{
opacity:1;
transition:1s;
}
.bubble4{
opacity:0;
transition:1s;
}

.bubble4.show{
opacity:1;
transition:1s;
}

.bubble5{
opacity:0;
transition:1s;
}

.bubble5.show{
opacity:1;
transition:1s;
}

.pic1{
opacity:0;
transition:1s;
}

.pic1.show{
opacity:1;
transition:1s;
}

.pic2{
opacity:0;
transition:1s;
}

.pic2.show{
opacity:1;
transition:1s;
}

.pic3{
opacity:0;
transition:1s;
}

.pic3.show{
opacity:1;
transition:1s;
}

.pic4{
opacity:0;
transition:1s;
}

.pic4.show{
opacity:1;
transition:1s;
}

.pic5{
opacity:0;
transition:1s;
}

.pic5.show{
opacity:1;
transition:1s;
}

.pic6{
opacity:0;
transition:1s;
}

.pic6.show{
opacity:1;
transition:1s;
}

.pic7{
opacity:0;
transition:1s;
}

.pic7.show{
opacity:1;
transition:1s;
}

.pic8{
opacity:0;
transition:1s;
}

.pic8.show{
opacity:1;
transition:1s;
}

.pic9{
opacity:0;
transition:1s;
}

.pic9.show{
opacity:1;
transition:1s;
}

.pic10{
opacity:0;
transition:1s;
}

.pic10.show{
opacity:1;
transition:1s;
}

.pic11{
opacity:0;
transition:1s;
}

.pic11.show{
opacity:1;
transition:1s;
}

.pic12{
opacity:0;
transition:1s;
}

.pic12.show{
opacity:1;
transition:1s;
}

.pic13{
opacity:0;
transition:1s;
}

.pic13.show{
opacity:1;
transition:1s;
}

.pic14{
opacity:0;
transition:1s;
}

.pic14.show{
opacity:1;
transition:1s;
}

.pic15{
opacity:0;
transition:1s;
}

.pic15.show{
opacity:1;
transition:1s;
}

.pic16{
opacity:0;
transition:1s;
}

.pic16.show{
opacity:1;
transition:1s;
}

.pic17{
opacity:0;
transition:1s;
}

.pic17.show{
opacity:1;
transition:1s;
}

.pic18{
opacity:0;
transition:1s;
}

.pic18.show{
opacity:1;
transition:1s;
}

.pic19{
opacity:0;
transition:1s;
}

.pic19.show{
opacity:1;
transition:1s;
}

.pic20{
opacity:0;
transition:1s;
}

.pic20.show{
opacity:1;
transition:1s;
}

.pic21{
opacity:0;
transition:1s;
}

.pic21.show{
opacity:1;
transition:1s;
}

.pic22{
opacity:0;
transition:1s;
}

.pic22.show{
opacity:1;
transition:1s;
}