*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#text{
    display: none;
}

#logo{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 7s;
}

#logo path:nth-child(1){
    stroke-dasharray: 338;
    stroke-dashoffset: 338;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 306;
    stroke-dashoffset: 306;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
    stroke-dasharray: 247;
    stroke-dashoffset: 247;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(4){
    stroke-dasharray: 252;
    stroke-dashoffset: 252;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(5){
    stroke-dasharray: 274;
    stroke-dashoffset: 274;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(6){
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
    animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(7){
    stroke-dasharray: 279;
    stroke-dashoffset: 279;
    animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(8){
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(9){
    stroke-dasharray: 320;
    stroke-dashoffset: 320;
    animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-child(10){
    stroke-dasharray: 181;
    stroke-dashoffset: 181;
    animation: line-anim 2s ease forwards 2.7s;
}
#logo path:nth-child(11){
    stroke-dasharray: 276;
    stroke-dashoffset: 276;
    animation: line-anim 2s ease forwards 3.0s;
}
#logo path:nth-child(12){
    stroke-dasharray: 254;
    stroke-dashoffset: 254;
    animation: line-anim 2s ease forwards 3.3s;
}
#logo path:nth-child(13){
    stroke-dasharray: 302;
    stroke-dashoffset: 302;
    animation: line-anim 2s ease forwards 3.6s;
}
#logo path:nth-child(14){
    stroke-dasharray: 425;
    stroke-dashoffset: 425;
    animation: line-anim 2s ease forwards 3.9s;
}
#logo path:nth-child(15){
    stroke-dasharray: 297;
    stroke-dashoffset: 297;
    animation: line-anim 2s ease forwards 4.2s;
}
#logo path:nth-child(16){
    stroke-dasharray: 276;
    stroke-dashoffset: 276;
    animation: line-anim 2s ease forwards 4.5s;
}
#logo path:nth-child(17){
    stroke-dasharray: 181;
    stroke-dashoffset: 181;
    animation: line-anim 2s ease forwards 4.8s;
}
#logo path:nth-child(18){
    stroke-dasharray: 280;
    stroke-dashoffset: 280;
    animation: line-anim 2s ease forwards 4.8s;
}

h1{
    font-size: 36px;
    color: #555;
    font-weight: bold;
}
h3{
    font-size: 24px;
    color: #333333;
    font-weight: bold;
}

.team{

    position: relative;
    /* display: none;; */
    left: -350px;
    transition: all 3s ease;

}

.team img{
    margin-top:-50px;
}
.team i{
    font-size: 26px;
    color: #555;
}
.team p{
    font-weight: 500;
    color: black;
}
.team .card{
    border-radius: 0;
    box-shadow: 5px 5px 15px#b57622;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}
.team .card:hover{
    background: #b57622;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #9e9e9e;

}
.team .card:hover h3, .team .card:hover i{
    color: #ffffff;
}

svg{
    margin-left: .5rem;
}

label{
    display: inline-flex;
    flex-direction: row;
}

span{
    
}

#start,
#check{
     display: none; 
}

label #btn{
    position: absolute;
    cursor: pointer;
    font-size: 1rem;
    border: 1px white solid;
    padding: 4px 12px;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%);

}

.right-bottom{
    display: flex;
    flex-direction: row;
    position: relative;
    left:200px;
    top: 1rem;

}

.time-show h1{
    margin-top: 2rem;;
}

#longtick{
    animation: tick 5s linear infinite ;
    transform-origin:bottom center;
    transform-box: fill-box;
}

#shorttick{
    animation: tick 20s linear infinite ;
    transform-origin: bottom ;
    transform-box: fill-box;
}



@keyframes tick{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes line-anim{
    to{
        stroke-dashoffset:  0;
    }
}

@keyframes fill{
    from{
        fill:transparent;
    }
    to{
        fill: white;
        transform: translate(-50%, -225%);
    }
}